.vs/
Sniffer.Core/bin/
Sniffer.Core/obj/
Sniffer.Shop/bin/
Sniffer.Shop/obj/
Sniffer.Tasks/bin/
Sniffer.Tasks/obj/
Sniffer.Login/obj/
Sniffer.Tyc/bin/
Sniffer.Tyc/obj/
/Sniffer.Login/bin
/BaiduApi.Core/obj
/BaiduApi.Core/bin
/JM.Common/obj
/JM.Common/bin
/Sniffer.12306/obj
/Sniffer.12306/bin
/JM.BaiduApi/obj
/JM.BaiduApi/bin
